body {
    background-image: url(/img/oilpainting-1748725450335-3154.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}