div {
    background-color: rgb(241, 86, 86);
    height: 100px;
    width: 100px;
    visibility: hidden;
    
}
span {
    background-color: rgb(87, 87, 245);
    display: inline-block;
    height: 100px;
    width: 100px;
}