body {
    background-color: #87cefa;
    border-style:inset;
    border-width: 10px;
    width:auto;
}
#heading {
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

#content {
    
    padding-left: 25%;
    padding-right: 25%;
    text-align:center;
}